.navigation__link, .logo-path {
  transition: all 0.3s ease-out;
}

.tag, body {
  font-family: "Open Sans", Verdana, sans-serif;
}

h5, h3, h2 {
  font-family: "Open Sans Bold", Verdana, sans-serif;
}

.button, h4 {
  font-family: "Open Sans SemiBold", Verdana, sans-serif;
}

.promo__text, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

.link-button {
  font-family: "Poppins SemiBold", Verdana, sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h1 {
  font-size: 4.4rem;
  line-height: 5.4rem;
}

h2 {
  font-size: 3.4rem;
  line-height: 4.6rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

h4 {
  font-size: 2.2rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.block-shadowed {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.button {
  padding: 11px 25px 13px;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
}
.button--bordered {
  color: #544837;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
}
.button--bordered:hover {
  background-color: #bcd0e5;
  border-color: #bcd0e5;
}
.button--colored {
  color: #ffffff;
  background-color: #ff9900;
  border: 1px solid #ff9900;
}
.button--colored:hover {
  background-color: #ff7549;
  border-color: #ff7549;
}

.link-button {
  display: inline-flex;
  align-items: center;
  color: #ff9900;
  transition: 0.3s;
}
.link-button:hover {
  color: #f03e3d;
}
.link-button:hover .ico--play {
  background-image: url("../../img/icons/play-hover.svg");
}

.link-button__text {
  margin-left: 9px;
}

.logo-svg:hover .logo-path {
  fill: #ff9900;
}

.ico {
  display: inline-block;
  cursor: pointer;
}

.icon-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 19px;
}
.icon-square--yellow {
  background-color: #fab005;
}
.icon-square--red {
  background-color: #f03e3d;
}
.icon-square--blue {
  background-color: #4dadf7;
}
.icon-square--violet {
  background-color: #7752be;
}

.ico--play {
  width: 18px;
  height: 19px;
  background-image: url("assets/img/icons/play.svg");
}

.ico--arrow {
  width: 12px;
  height: 17px;
  background-image: url("assets/img/icons/arrow.svg");
}

.ico--snake {
  width: 18px;
  height: 14px;
  background-image: url("assets/img/icons/snake.svg");
}

.ico--heart {
  width: 17px;
  height: 15px;
  background-image: url("assets/img/icons/heart.svg");
}

.ico--clock {
  width: 15px;
  height: 17px;
  background-image: url("assets/img/icons/clock.svg");
}

.ico--phone {
  width: 13px;
  height: 13px;
  background-image: url("assets/img/icons/phone.svg");
}

.ico--letter {
  width: 11px;
  height: 8px;
  background-image: url("assets/img/icons/letter.svg");
}

.tags {
  display: flex;
}
.tags > * {
  margin-right: 7px;
}

.tag {
  font-size: 1.3rem;
  line-height: 2.8rem;
  padding: 0 14px;
  border-radius: 90px;
}
.tag--selected {
  background-color: #ff9900;
  color: #ffffff;
}
.tag--bordered {
  border: 1px solid #d7d7d7;
}
.tag--colored {
  background-color: #f5f5f5;
}

.wrapper {
  max-width: 1197px;
  margin: 0 auto;
}

.header {
  padding: 15px 0 17px 0;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  font-size: 0;
}

.header__buttons > .button {
  margin-left: 14px;
}

.header__buttons > .button:first-child {
  margin-left: 0;
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-2-column > * {
  flex-basis: 48%;
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
}

.navigation__link {
  padding: 0 10px;
  cursor: pointer;
}
.navigation__link:hover {
  color: #ff9900;
}

.contact-us {
  padding: 62px 82px;
  background-color: #ffeee1;
}

.contact-us__form input,
.contact-us__form textarea {
  padding: 10px 21px;
  border: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.contact-us__form input:focus,
.contact-us__form textarea:focus {
  border-color: #ff9900;
  outline: none;
}
.contact-us__form textarea {
  width: 100%;
  height: 160px;
  resize: none;
}

.contact-us__line {
  margin-bottom: 19px;
}

.contact-us__button > * {
  min-width: 117px;
}

.promo {
  padding: 30px 0;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__content {
  padding-right: 65px;
}

.promo__title {
  margin: 0 0 30px;
}

.promo__buttons > .button {
  margin-right: 44px;
}

.promo__text {
  max-width: 487px;
  margin: 0 0 45px;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.tools__wrapper {
  padding-bottom: 90px;
  background-image: url("assets/img/backgrounds/tools-bg.svg");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tools__title {
  max-width: 462px;
  margin: auto;
  margin-bottom: 70px;
  text-align: center;
}

.tool__icon {
  margin-bottom: 30px;
}

.tool__title {
  margin: 0 0 16px;
}

.tools__button {
  margin-top: 60px;
  text-align: center;
}

.strategies {
  padding: 30px 0;
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin-bottom: 31px;
}

.strategy-wrapper > * {
  margin-bottom: 30px;
}

.strategy {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.strategy__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 24px 33px 26px;
}

.strategy__name {
  flex-grow: 1;
  margin: 0 0 29px;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
