.promo {
  // box-model
  padding: 30px 0;
}

.promo__wrapper {
  // box-model
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__content {
  // box-model
  padding-right: 65px;
}

.promo__title {
  // box-model
  margin: 0 0 30px;
}

.promo__buttons > .button {
  // box-model
  margin-right: 44px;
}

.promo__text {
  // box-model
  max-width: 487px;
  margin: 0 0 45px;
  // typography
  @extend %font-add;
  @include font($size: 1.8rem, $height: 2.8rem);
}
