html {
  // typography
  font-size: 10px;
}

body {
  // typography
  font-size: 1.6rem;
  font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
  // typography
  font-family: 'Poppins Bold', Verdana, sans-serif;
  @include font($size: 4.4rem, $height: 5.4rem);
}

h2 {
  // typography
  font-family: 'Open Sans Bold', Verdana, sans-serif;
  @include font($size: 3.4rem, $height: 4.6rem);
}

h3 {
  font-family: 'Open Sans Bold', Verdana, sans-serif;
  @include font($size: 2.4rem, $height: 3.4rem);
}

h4 {
  // typography
  font-family: 'Open Sans SemiBold', Verdana, sans-serif;
  @include font($size: 2.2rem, $height: 3rem);
}

h5 {
  // typography
  font-family: 'Open Sans Bold', Verdana, sans-serif;
  @include font($size: 1.6rem, $height: 2.6rem);
}
