.button {
  // box-model
  padding: 11px 25px 13px;
  // typography
  @extend %font-prim-sb;
  @include font($size: 1.6rem, $height: 2.2rem);
  // decor
  border-radius: 4px;
  // transition
  transition: all 0.3s;
  // other
  cursor: pointer;

  &--bordered {
    // typography
    color: $color-text;
    // decor
    border: 1px solid $color-border;
    background-color: $color-light;

    &:hover {
      // decor
      background-color: $color-hovered;
      border-color: $color-hovered;
    }
  }

  &--colored {
    // typography
    color: $color-light;
    // decor
    background-color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      // decor
      background-color: $color-additional;
      border-color: $color-additional;
    }
  }
}

.link-button {
  // box-model
  display: inline-flex;
  align-items: center;
  // typography
  @extend %font-add-sb;
  color: $color-primary;
  // transition
  transition: 0.3s;

  &:hover {
    // typography
    color: $color-red;

    .ico--play {
      background-image: url('../../img/icons/play-hover.svg');
    }
  }
}

.link-button__text {
  // box-model
  margin-left: 9px;
}
